In [23]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
import warnings
import matplotlib.pyplot as plt

In [24]:
# country  = "Israel"

In [25]:
dat = pd.read_excel(open("C:/Users/samir/Desktop/umar/mena1.xlsx", "rb"), sheet_name = country)
dat

,Date,idx,IL0005870147,US9267112012,IL0010833775,IL0010823123,IL0010807530,IL0002730112,IL0002990161,IL0002490113,...,IL0011886228,US60741F1049,IL0011906281,IL0011832438,US43477H1068,IL0011946956,IL0011945131,IL0011974909,IL0011989105,Unnamed: 568
0,2010-01-01,NaN,NaN,0.331,184.7999,0.87,8.764,27.91,117.5000,3.504,...,NaN,NaN,NaN,NaN,"$$ER: 2361,NO DATA AVAILABLE","$$ER: 2361,NO DATA AVAILABLE","$$ER: 2361,NO DATA AVAILABLE","$$ER: 2361,NO DATA AVAILABLE","$$ER: 2361,NO DATA AVAILABLE","$$ER: 2361,NO DATA AVAILABLE"
1,2010-01-04,368.11,NaN,0.342,184.7999,0.90,8.950,29.37,117.5000,3.888,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2010-01-05,373.19,NaN,0.348,184.7999,0.91,9.135,30.00,117.5000,3.887,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2010-01-06,371.06,NaN,0.350,184.7999,0.91,8.964,29.88,123.2000,3.800,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2010-01-07,370.39,NaN,0.343,184.7999,0.91,8.756,28.84,123.0000,4.009,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3386,2022-12-26,471.06,NaN,0.864,0.5700,10.23,54.890,97.51,675.8999,2.813,...,3.024,22.23,33.98,12.23,NaN,NaN,NaN,NaN,NaN,NaN
3387,2022-12-27,475.80,NaN,0.859,0.5700,10.25,55.000,96.02,680.0000,2.935,...,3.152,21.38,34.32,12.50,NaN,NaN,NaN,NaN,NaN,NaN
3388,2022-12-28,477.41,NaN,0.844,0.5700,10.30,55.500,96.69,680.7000,2.967,...,3.128,21.79,33.58,12.52,NaN,NaN,NaN,NaN,NaN,NaN
3389,2022-12-29,480.32,NaN,0.841,0.5700,10.31,56.020,95.82,680.0000,3.008,...,3.060,21.80,34.51,12.82,NaN,NaN,NaN,NaN,NaN,NaN
3390,2022-12-30,NaN,NaN,0.841,0.5700,10.31,56.020,95.82,680.0000,3.008,...,3.060,21.80,35.06,12.82,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
if dat.iloc[0,0] == "Code":
    dat.iloc[0,1] = "idx"
    dat.set_index(dat.columns[0], inplace = True)
    dat.columns = dat.loc["Code"]
    dat.drop("Code", inplace = True)
else:
    dat.set_index(dat.columns[0], inplace=True)
dat.index = pd.DatetimeIndex(dat.index)
dat.index.name = "Date"
dat = dat.convert_dtypes()
dat = dat.select_dtypes(exclude=["string"])
dat = dat.astype(float)
dat

,idx,IL0005870147,US9267112012,IL0010833775,IL0010823123,IL0010807530,IL0002730112,IL0002990161,IL0002490113,IL0007270163,...,IL0011853624,IL0011808354,IL0011871949,IL0011857013,IL0011879629,IL0011882425,IL0011886228,US60741F1049,IL0011906281,IL0011832438
Date,,,,,,,,,,,,,,,,,,,,,
2010-01-01,NaN,NaN,0.331,184.7999,0.87,8.764,27.91,117.5000,3.504,347327.800,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-01-04,368.11,NaN,0.342,184.7999,0.90,8.950,29.37,117.5000,3.888,338784.800,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-01-05,373.19,NaN,0.348,184.7999,0.91,9.135,30.00,117.5000,3.887,349730.500,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-01-06,371.06,NaN,0.350,184.7999,0.91,8.964,29.88,123.2000,3.800,337716.900,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-01-07,370.39,NaN,0.343,184.7999,0.91,8.756,28.84,123.0000,4.009,381766.900,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-12-26,471.06,NaN,0.864,0.5700,10.23,54.890,97.51,675.8999,2.813,1.897,...,15.33,6.288,1.230,1.012,5.808,32.10,3.024,22.23,33.98,12.23
2022-12-27,475.80,NaN,0.859,0.5700,10.25,55.000,96.02,680.0000,2.935,1.847,...,15.35,6.328,1.170,1.004,5.783,32.25,3.152,21.38,34.32,12.50
2022-12-28,477.41,NaN,0.844,0.5700,10.30,55.500,96.69,680.7000,2.967,1.829,...,15.28,6.337,1.185,0.962,5.639,33.36,3.128,21.79,33.58,12.52
2022-12-29,480.32,NaN,0.841,0.5700,10.31,56.020,95.82,680.0000,3.008,1.825,...,15.04,6.500,1.200,0.980,5.708,33.82,3.060,21.80,34.51,12.82
2022-12-30,NaN,NaN,0.841,0.5700,10.31,56.020,95.82,680.0000,3.008,1.825,...,15.04,6.500,1.160,0.980,5.708,33.82,3.060,21.80,35.06,12.82

In [27]:
dat = dat.loc[dat.index.day_of_week == 2]

# Calculate The Skewness And Volatility Measure For Each Company For Each Year

$$NCSKEW_{j,t} = -\frac{\big[n(n-1)^{(3/2)}\sum W_{j,t}^3]}{(n-1)(n-2)(\sum W_{j,t}^2)^{3/2}},$$

$$DUVOL_{j,t} = \log\bigg\{\frac{(n_u-1)\sum_{Down}W_{j, \tau}^2}{(n_d-1)\sum_{Up}W_{j, \tau}^2}\bigg\}$$

where $W$ is the stock return.

In [28]:
# Years:
years = dat.index.year.unique().to_numpy()

# Daily return for each company for each year:
errs = {}
Wjt = {}
ncskewjt = {}
duvoljt = {}
var = {}
shortfall = {}
lpsd = {}
counts = {}

idx = dat[["idx"]]
for year in years:
    info = dat[dat.index.year == year]
    for j in info.columns[~info.columns.isin(["idx"])]:
        # Put prices of stock and index together and drop nans:
        prices = pd.concat([idx, info[[j]]], axis = 1).dropna()
        rets = np.log(prices/prices.shift(1)).dropna()

        # Add leads and lags of idx to the df:
        rets = pd.concat([rets, rets["idx"].shift(1), rets["idx"].shift(2),
                        rets["idx"].shift(-1), rets["idx"].shift(-2)], axis = 1)
        #rets = pd.concat([rets.dropna(), rets["idx"].shift(1).dropna(), rets["idx"].shift(2).dropna(),
                        #   rets["idx"].shift(-1).dropna(), rets["idx"].shift(-2).dropna()], axis = 1)

        rets.columns = ["idx", j, "l-1", "l-2", "l1", "l2"]
        rets = rets.dropna()
        Y = rets[j]
        X = rets.drop([j], axis=1)
        if Y.std() == 0 or len(Y) == 0:
            pass
        else:
            np.errstate(all="raise")
            with warnings.catch_warnings(record=True) as w:
                warnings.filterwarnings("always")
                resids = sm.OLS(Y, X).fit()._results.resid
                Wjt[(j, year)] = rt = resids
                # print(np.mean(rt), min(resids))
                n = len(rt)
                ncskewjt[(j, year)] = -(n*(n-1)**(3/2)*np.sum(rt**3))/((n-1)*(n-2)*np.sum(rt**2)**(3/2))
                duvoljt[(j, year)] = np.log((np.sum(rt>np.mean(rt))-1)*np.sum(rt[rt<np.mean(rt)]**2)/
                                        ((np.sum(rt<np.mean(rt))-1)*np.sum(rt[rt>np.mean(rt)]**2)))
                var[(j, year)] = np.quantile(rt, 0.05)
                shortfall[(j, year)] = np.mean(rt[rt<=np.quantile(rt, 0.05)])
                lpsd[(j, year)] = np.std(rt[rt<=0])
                counts[(j, year)] = len(rt[rt<=(np.mean(rt) - 2*np.std(rt, ddof = 1))])
                if len(w)>0:
                    print(j, year, w[0].message)


    
    #     try:
    #         with warnings.catch_warnings(record=True) as w:
    #             warnings.simplefilter("always")
    #             resids = sm.OLS(Y, X).fit()._results.resid
    #             # errs[(j, year)] = [sm.OLS(Y, X).fit()._results.resid, sm.OLS(Y, X).fit()._results.rsquared]
    #             Wjt[(j, year)] = rt = np.log(1 + resids)
    #             n = len(rt)
    #             ncskewjt[(j, year)] = -(n*(n-1)**(3/2)*np.sum(rt**3))/((n-1)*(n-2)*np.sum(rt**2)**(3/2))
    #             duvoljt[(j, year)] = np.log((np.sum(rt>np.mean(rt))-1)*np.sum(rt[rt<np.mean(rt)]**2)/
    #                                     ((np.sum(rt<np.mean(rt))-1)*np.sum(rt[rt>np.mean(rt)]**2)))
    #             var[(j, year)] = np.quantile(rt, 0.05)
    #             shortfall[(j, year)] = np.mean(rt[rt<=np.quantile(rt, 0.05)])
    #             lpsd[(j, year)] = np.std(rt[rt<=0], ddof = 1)
    #             counts[(j, year)] = len(rt[rt<=(np.mean(rt) - 2*np.std(rt, ddof = 1))])
    #             if len(w) != 0:
    #                 errs[(j, year)] = Wjt[(j, year)] = ncskewjt[(j, year)] = duvoljt[(j, year)] = np.nan
                    
    #     except:
    #         errs[(j, year)] =         Wjt[(j, year)
    #                               ] = ncskewjt[(j, year)
    #                               ] = duvoljt[(j, year)
    #                               ] = var[(j, year)
    #                               ] = shortfall[(j, year)
    #                               ] = lpsd[(j, year)
    #                               ] = counts[(j, year)
    #                               ] = np.nan

IL0011226540 2013 divide by zero encountered in double_scalars
IL0011319527 2013 divide by zero encountered in log
IL0011477507 2018 invalid value encountered in double_scalars
IL0011685588 2020 divide by zero encountered in double_scalars
IL0011796625 2020 invalid value encountered in double_scalars
IL0011694812 2020 divide by zero encountered in double_scalars
IL0011696890 2020 divide by zero encountered in double_scalars
IL0011699456 2020 invalid value encountered in double_scalars
IL0011767915 2021 invalid value encountered in double_scalars
IL0011789042 2021 divide by zero encountered in log
IL0011809428 2021 divide by zero encountered in double_scalars

C:\Users\samir\AppData\Roaming\Python\Python38\site-packages\pandas\core\internals\blocks.py:352: RuntimeWarning: divide by zero encountered in log
  result = func(self.values, **kwargs)

IL0010837164 2022 invalid value encountered in double_scalars

C:\Users\samir\AppData\Roaming\Python\Python38\site-packages\pandas\core\internals\blocks.py:352: RuntimeWarning: divide by zero encountered in log
  result = func(self.values, **kwargs)
C:\Users\samir\AppData\Roaming\Python\Python38\site-packages\pandas\core\internals\blocks.py:352: RuntimeWarning: divide by zero encountered in log
  result = func(self.values, **kwargs)
C:\Users\samir\AppData\Roaming\Python\Python38\site-packages\pandas\core\internals\blocks.py:352: RuntimeWarning: divide by zero encountered in log
  result = func(self.values, **kwargs)

IL0010935588 2022 invalid value encountered in double_scalars
IL0011832438 2022 divide by zero encountered in log

In [29]:
# prices = dat[dat.index.year == 2010]["EGS70281C018(P)"]
# rets = np.log(prices/prices.shift(1))
# rets[rets.index.month == 11].min()
# #

In [30]:
def fun(i):
    df = pd.DataFrame.from_dict(eval(i), orient='index')
    df.columns = [i]
    df.index = pd.MultiIndex.from_tuples(df.index, names=["ISIN", "Year"])
    # mean_by_year_skew = pd.DataFrame(df.groupby(level='Year')[i].mean())
    return df
nams = ["ncskewjt", "duvoljt", "var", "shortfall", "lpsd", "counts"]
tot = [fun(i) for i in nams]
panel_dat = pd.concat(tot,axis=1)
panel_dat["country"] = country
panel_dat
# panel_dat.to_excel("panel_morocco.xlsx")

,,ncskewjt,duvoljt,var,shortfall,lpsd,counts,country
ISIN,Year,,,,,,,
US9267112012,2010,-1.890999,-2.056050,-7.590959e-02,-8.103610e-02,2.440007e-02,0,Israel
IL0010833775,2010,4.667676,1.768486,-9.557505e-02,-4.707779e-01,2.411158e-01,1,Israel
IL0010823123,2010,0.122612,0.107233,-7.236718e-02,-7.873431e-02,2.645560e-02,1,Israel
IL0010807530,2010,-3.481798,-2.785694,-8.588743e-02,-9.171687e-02,2.697627e-02,0,Israel
IL0002730112,2010,-0.237967,-0.345828,-5.156635e-02,-7.105305e-02,1.980680e-02,2,Israel
...,...,...,...,...,...,...,...,...
IL0011882425,2022,0.609775,0.548623,-9.279583e-02,-1.234233e-01,3.647393e-02,1,Israel
IL0011886228,2022,0.044907,-0.203986,-3.822624e-02,-4.061767e-02,1.401022e-02,0,Israel
US60741F1049,2022,0.189006,0.467749,-7.424425e-02,-8.331794e-02,2.478717e-02,0,Israel
IL0011906281,2022,2.768578,4.871373,-9.159340e-17,-1.040834e-16,4.259797e-17,0,Israel
IL0011832438,2022,0.000864,-inf,-3.781697e-17,-4.163336e-17,1.908196e-17,0,Israel

In [31]:
panel_dat.isna().sum()

ncskewjt     6
duvoljt      7
var          2
shortfall    2
lpsd         3
counts       0
country      0
dtype: int64